body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

Header ul li{
  @apply px-2
}

.bg-primary{
  background-color: #2b2d77;
}

.bg-secondary{
  background-color:rgb(85, 81, 227);
}


.mobile-nav{
  @apply fixed top-10 left-0 bg-gray-800 w-full h-1/4;

}

.mobile-nav li {
  @apply w-full h-full text-center border-b-2;
}

.project-desc{
  @apply absolute left-0 right-0 bottom-0 bg-secondary top-0 opacity-0 duration-500 hover:opacity-100
}

.btn{
  @apply bg-secondary px-5 py-2 hover:border-2 border-white rounded;
}

.btn1{
  @apply bg-primary px-5 py-2 hover:border-4 border-white rounded;
}

html{
  scroll-behavior: smooth;
}